@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  caret-color: transparent;
}

.guess{
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 68px;
    text-align: center;
}

.container{
    width: 50%;
    margin: auto;
    text-align: center;
}

.guess-box{
    text-align: left;
}

.guess-bar{
    display: inline-block;
    width: 500px;
    height: 70px;
    background: blueviolet;
}